{% extends 'base.html' %}

{% block header %}Przypisz pracownika do filmu{% endblock %}

{% block content %}
<form method="post">
    <br>
	{% for role in roles %}
		<input type="radio" name="role" value="{{ role }}">{{ role }}<br>
	{% endfor %}
	<br>
	<br>
	{% for m in movies %}
		<input type="radio" name="movie" value="{{ m[0]._element_id }}">{{ m[0]['title'] }} {{ m[0]['premiere'] }} {% if m[1] %}{{ '%0.2f'|format(m[1]|float) }}{% endif %}<br>
	{% endfor %}
	<br>
	<button type="submit">Zapisz</button>
</form>
{% endblock %}