{% extends 'base.html' %}

{% block header %}Filtrowanie{% endblock %}

{% block content %}
<form action="/filter" method="post">
    Rola
    <select name="role" id="role">
        <option value="None">None</option>
        <option value="Wrote">Wrote</option>
        <option value="Acted">Acted</option>
        <option value="RecordedSound">RecordedSound</option>
        <option value="Directed">Directed</option>
        <option value="Produced">Produced</option>
    </select>
    <br>
    Wiek pracowników
    <select name="age" id="age">
        <option value="None">None</option>
        <option value="30">20-30</option>
        <option value="40">30-40</option>
        <option value="50">40-50</option>
        <option value="60">50-60</option>
        <option value="70">60-70</option>
    </select>
    <br>
	Imię pracownika: <input type="text" name="name"></input><br>
	Nazwisko pracownika: <input type="text" name="surname"></input><br>
	Tytuł filmu: <input type="text" name="title"></input><br>
	Rok premiery: <input type="number" min="0" name="premiere"></input><br>
    Ile wyświetlić wyników: <input type="number" min="0" name="top"></input><br>
    Sortuj według:
    <select name="sort" id="sort">
        <option value="None">None</option>
        <option value="name">Imie</option>
        <option value="surname">Nazwisko</option>
        <option value="title">Tytuł</option>
        <option value="rating">Ocena</option>
    </select>
    <input type="submit" value="Submit">
</form>
<br><br>
{% for obj in objects %}
    {{ obj[0]['name'] }} {{ obj[0]['surname'] }} {{ obj[0]['age'] }} {{ obj[1] }} {{ obj[2]['title'] }} {{ obj[2]['premiere'] }} {% if obj[3] %}{{ '%0.2f'|format(obj[3]|float) }}{% endif %}<br>
{% endfor %}
{% endblock %}