{% extends 'base.html' %}

{% block title %}Aktualizuj dane{% endblock %}

{% block header %}Aktualizuj dane pracownika{% endblock %}

{% block content %}
<form method="post">
	Tytuł: <input type="text" name="title" value="{{ movie['title'] }}"><br>
	Data premiery: <input type="date" name="premiere" value="{{ movie['premiere'] }}"><br>
	Ocena: <input type="number" step="0.01" min="0" max="5" name="rating" value="{{ movie['rating'] }}"><br>
	<button type="submit">Zapisz</button>
</form>
{% endblock %}